/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-7-25, 10:34:28
    Author     : Administrator
*/

body {
    margin-top: 50px;
    background:url('../images/3.jpg') no-repeat 0px 0px;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
    color: #fff;

}
#main{
    width: 1200px;
    margin: 0 auto;
    border: 0px solid red;
}
.title-left{
    margin-left: 100px;
    position: absolute;
    margin-top: -25px;

}

.title-right{
    margin-left: 1035px;
    position: absolute;
    margin-top: -25px;
}
.title-right2{
    margin-left: 1080px;
    position: absolute;
    margin-top: -25px;
}

h1{
    //margin: 0 auto;
    text-align: center;
    border: 0px solid red;
    width: 40%
}
.search{
    margin-left: 410px;
    position: absolute;
    margin-top: 10px;
    float:left;
}
.title-right0{
    margin-left: 1000px;
    position: absolute;
    margin-top: -40px;
}
body a{
    color:#ffff00;
    text-decoration: none;
}
body a:hover{
    color: #ff0000;
}

form{
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
table{
    margin-top: 100px;
    text-align: center;
    margin: 0 auto;
    border-color: wheat;
}
table td{
    padding-left: 10px;
    padding-right: 10px;
}
table select{
    width: 100%;
}
