*{padding: 0;margin: 0;}
main{width: 1200px;margin:0 auto;}
div#server{float: left;height: 100%;width: 200px;background:#ccc;overflow: auto;}
div#server>button{width: 100%;text-align: left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:100px;}
div#server>div{margin-left: 20px;display: none;}
div#server>div>button{width: 100%;text-align: left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
div#table{width: 1000px;float: right;overflow: auto;color: black;background-color: #dddddd;opacity: 1;}


div#right_c{position: fixed;background-color: #CCCCCC;width: 200px; font-size: 14px;}
div#right_c>ul{list-style: none;cursor: pointer;margin:5px 2px;}
div#right_c>ul>li{padding-left: 20px;margin-top: 10px;}
div#right_c>ul>li:hover{background-color: red;}

div#alert{position:fixed;width:30vw;height:20vh;background-color: white;left: 35vw;top:40vh;}